# --- For-Bot-Working --------- #
https://github.com/Kuriyama-Mirai/Pyrogram/archive/dev.zip
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
